<html>
	<head>
			<title>HabitatStat</title>
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
                        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
                        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
                        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
                        <link rel="manifest" href="{{url_for('static', filename='favicon/manifest.json')}}">
                        <link rel="mask-icon" href="{{url_for('static', filename='favicon/safari-pinned-tab.svg')}}" color="#5e3d1b">
                        <meta name="theme-color" content="#ffffff">

	</head>
	<body>
		<div class="main container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div id="image-wrapper">
                            <img id="logoImage" src="{{url_for('static', filename='images/logo.PNG')}}">
                    </div>
                    
                    <center>
                            <input class="searchBox" placeholder="Enter a city" id="inputId">
                            <button class="searchBox button" id="inputButton" onClick="submitInput()"><a id="no-underline" href="#skip">Submit</a></button>
                    </center>
                </div>
   			</div>
        </div>

		<div class="section-2">
			<div id="skip-atag"><a  name="skip"></a></div>
			<div id="weather"></div>
			<div id="graphs"></div>
			<div id="info-section">
                            <h3>Recent News Summary</h3>
                            <h4>Mayor Hancock and City Officials Host Panel Discussion on Climate Action at Alliance Center</h4>
                                <ul>
                                    <li>Mayor Hancock and City Officials Host Panel Discussion on Climate Action at Alliance Center</li>
                                    <li>DENVER, Jan. 16, 2018 /PRNewswire/ -- Mayor Michael B. Hancock and city officials will participate in a panel discussion at The Alliance Center (TAC) on Jan. 17 from 5:30 to 7:30 p.m.</li>
                                    <li>The panel will discuss Denver's climate goals, and what residents can do to help support Denver's efforts to address climate change.</li>
                                </ul>
                            <h4>Talk Public Lands with Us at Night Zero in Denver</h4>
                                <ul>
                                    <li>Talk Public Lands with Us at Night Zero in Denver</li>
                                    <li>Outside has been covering the outdoors for decades, and it’s no secret that we care about our public lands.</li>
                                    <li>We hope they’ll be preserved and will remain open to the recreationists of future generations.</li>
                                </ul>
                            <h4>Convergence of factors brought Outdoor Retailer to Colorado</h4>
                                <ul>
                                    <li>Convergence of factors brought Outdoor Retailer to Colorado Outdoor Retailer came to Denver through the impetus of two unrelated actions.</li>
                                    <li>First, Salt Lake City’s contract on the two shows was ending, although the city was welcome to put in a bid to host the event again.</li>
                                    <li>We hope they’ll be preserved and will remain open to the recreationists of future generations.</li>
                                </ul>

                            
                        </div>
		<div >
			<a name="skip"></a>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script>
		</script>
	</body>
</html>
